/* @font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
} */
/* =======================================================
*
* 	Template Style
*
* ======================================================= */
/* body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
} */

/* #page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
} */
/* .offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
} */

a {
  color: #EA9215;
}


/* p {
  margin-bottom: 20px;
} */

/* h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
} */


.fh5co-nav {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  width: auto;
  padding: 0;
  z-index: 1001;
}
.fh5co-nav .top-menu {
  padding: 28px 0;
}
/* .fh5co-nav .top {
  padding: 7px 0;
  margin-bottom: 0;
}
.fh5co-nav .top .num, .fh5co-nav .top .fh5co-social {
  display: inline-block;
  margin: 0;
}
.fh5co-nav .top .num {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  padding-right: 10px;
  margin-right: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 0px;
}
.fh5co-nav .top .fh5co-social li {
  font-size: 14px;
}
.fh5co-nav .top .fh5co-social li a {
  padding: 0 7px;
}
.fh5co-nav .top .fh5co-social li a i {
  font-size: 14px;
} */
.fh5co-nav #fh5co-logo {
  font-size: 24px;
  margin-top: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700;
  width: 150px;
  height: 60px;
  font-family: "Work Sans", Arial, sans-serif;
}
.fh5co-nav #fh5co-logo a img {
  margin-top: -65px;
  width: 100%;
  height: auto;
}
.fh5co-nav #fh5co-logo a span {
  color: #EA9215;
}
/* .fh5co-nav a {
  padding: 5px 10px;
  color: #1da0f2;
} */
/* @media screen and (max-width: 768px) {
  .fh5co-nav .menu-1 {
    display: none;
  }
} */
.fh5co-nav ul {
  padding: 0;
  margin-right: 0;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-nav ul li a {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", sans-serif;
  padding: 30px 15px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: white;
}

.fh5co-nav ul li.btn-cta a {
  padding: 30px 0px !important;
  color: #1da0f2;
}
.fh5co-nav ul li.btn-cta a span {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 10px;
  display: inline-block;
  border-radius: 100px;
}
.fh5co-nav ul li.btn-cta a:hover span {
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
.fh5co-nav ul li.active > a {
  color: #1da0f2 !important;
}


body {
  font-family: Georgia, "Times New Roman", sans-serif;
  background: url("/images/grad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}




.price-box {
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px; */
  border-radius: 5px;
  margin: 20px;
  position: relative;
  opacity:0.6;

  background: #fbfbfb;
  text-align: center;
  border: 1px solid silver;
  padding: 25px 15px;
  margin-bottom: 45px;
}
/* .price-box.popular .btn-select-plan {
  background: #EA9215;
} */
/* .price-box.popular .price {
  color: #EA9215;
}
.price-box .btn-select-plan {
  padding: 10px 20px;
  background: #09C6AB;
  color: #fff;
}
.price-box .classes {
  padding: 0;
}
.price-box .classes li {
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  font-size: 16px;
  padding: 8px 10px;
}
.price-box .classes li.color {
  background: rgba(0, 0, 0, 0.04);
} */

/* .pricing-plan {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #888f94;
}
.pricing-plan.pricing-plan-offer {
  margin-bottom: 24px;
}
.pricing-plan span {
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  color: #d5d8db;
} */



.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 30px;
  transition: 0.5s;
  padding: 8px 20px;
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
  background-color: #1da0f2;
}

/
display-flex {
  display: flex;
  /* display: -webkit-flex;  */
}

/* @extend list-type-ulli; */
/* list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0; } */

/* poppins-300 - latin */




.form-title {
  line-height: 2.5;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px; }

.main {
  /* background: #e7f0fd; */
  padding: 150px 0;
  position: relative; }

.log, .add-course{
  position: absolute;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 174px;
  color: #fff;
  opacity: 0.5;
  right: 0px;
  top: 100px;
  z-index: -9; }

.contain {
  width: 520px;
  background: #fff;
  opacity: 0.9;
  margin: 0 auto;
  box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; }

.sign-up-content {
  padding: 90px 60px 90px 60px;
  position: relative;
  z-index: 99; }

input {
  border: solid 2px #ebebeb;
  box-sizing: border-box;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  font-family: Poppins;
  padding: 16px 30px 16px 140px; }

.form-textbox {
  position: relative; }
  .form-textbox label {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-weight: 600;
    font-family: Georgia, "Times New Roman", sans-serif;
    color: #888;
    font-size: 14px; }

#username_field, #assignment_field{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

  #password_field, #deadline_field {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

  #name_field{
    border: none;
    border-left: solid 2px #ebebeb;
    border-right: solid 2px #ebebeb; }


#email_field, #category_field {
  border: none;
  border-top: solid 2px #ebebeb;
  border-left: solid 2px #ebebeb;
  border-bottom: solid 2px #ebebeb;
  border-right: solid 2px #ebebeb; }



.submit {
  margin-top: 40px;
  background: #1da0f2;
  color: #FFF;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", sans-serif;
  border-radius: 5px;
   }
  .submit:hover {
    background: #0c85d0; }

.loginhere {
  text-align: center;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 15px;
  color: #888;
  margin-top: 63px; }

.loginhere-link {
  color: #1da0f2;
  text-decoration: none; }
  .loginhere-link:hover {
    text-decoration: underline; }

    /* .price-box {
            background: #fbfbfb;
            text-align: center;
            border: 1px solid silver;
            padding: 25px 15px;
            margin-bottom: 45px;
        }

        .price-box-dark {
            background: #1f2533;
            text-align: center;
            color: white;
            border: 1px solid silver;
            padding: 50px 15px;
            margin-top: -25px;
            margin-bottom: 25px;
        } */
