/* @extend display-flex; */
display-flex {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* poppins-300 - latin */




h2 {
  line-height: 2.5;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px; }



body {

  background: #e7f0fd;
}

.main {
  padding: 150px 0;
  position: relative; }

h1 {
  position: absolute;
  font-weight: 700;
  font-size: 174px;
  color: #fff;
  opacity: 0.5;
  right: 105px;
  top: 45px;
  top: -149px;
  z-index: 9; }

.container {
  width: 520px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; }

.sign-up-content {
  padding: 90px 60px 90px 60px;
  position: relative;
  z-index: 99; }

input {
  border: solid 2px #ebebeb;
  box-sizing: border-box;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  font-family: Poppins;
  padding: 16px 30px 16px 140px; }

.form-textbox {
  position: relative; }
  .form-textbox label {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-weight: 600;
    color: #888;
    font-size: 14px; }

#username_field {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

  #password_field {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

  #name_field {
    border: none;
    border-left: solid 2px #ebebeb;
    border-right: solid 2px #ebebeb; }


#email_field {
  border: none;
  border-top: solid 2px #ebebeb;
  border-left: solid 2px #ebebeb;
  border-right: solid 2px #ebebeb; }

.label-agree-term {
  color: #888; }

.term-service {
  color: #1da0f2;
  text-decoration: none; }
  .term-service:hover {
    text-decoration: underline; }

.submit {
  margin-top: 40px;
  background: #1da0f2;
  color: #FFF;
  border: none;
  padding: 15px 20px;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins;
  border-radius: 5px;
   }
  .submit:hover {
    background: #0c85d0; }

.loginhere {
  text-align: center;
  color: #888;
  margin-top: 63px; }

.loginhere-link {
  color: #1da0f2;
  text-decoration: none; }
  .loginhere-link:hover {
    text-decoration: underline; }

    .price-box {
            background: #fbfbfb;
            text-align: center;
            border: 1px solid silver;
            padding: 25px 15px;
            margin-bottom: 45px;
        }

        .price-box-dark {
            background: #1f2533;
            text-align: center;
            color: white;
            border: 1px solid silver;
            padding: 50px 15px;
            margin-top: -25px;
            margin-bottom: 25px;
        }
