<div class="main">
    <h1>Log in</h1>
    <div class="container">
      <div class="sign-up-content">
        <form  action="/login" method="post">
          <h2 class="form-title">STUDENT LOGIN FORM</h2>
          <div class="form-textbox">
              <label for="username_field">Username: </label>
              <input type="text" name="username" id="username_field"><br>
          </div>

          <div class="form-textbox">
              <label for="password_field">Password: </label>
              <input type="text" name="password" id="password_field"><br>
          </div>

          <div class="form-textbox">
              <input type="submit" value="Log In" class="submit">
          </div>
        </form
      </div>
    </div>
</div>
