<nav class="fh5co-nav" role="navigation">

  <div class="top-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1">
          <div id="fh5co-logo"><a href="/"><img src="/images/logo.png" alt="Road to Graduation"></a></div>
        </div>
        <div class="col-xs-11 text-right menu-1">
          <ul>
            <li class="btn-cta"><a href="/"><span><b>HOME</b></span></a></li>
            <li class="btn-cta"><a href="/courses"><span><b>Courses</b></span></a></li>
            <li class="btn-cta"><a href="/todos"><span><b>Assignments</b></span></a></li>
            <li class="btn-cta"><a href="/courses/new"><span><b>Add a new course</b></span></a></li>
            <li class="btn-cta"><a href="/todos/new"><span><b>Add new assignment</b></span></a></li>
            <li class="btn-cta"><a href="/login"><span><b><%=@user.name%></b></span></a></li>
            <li class="btn-cta"><a href="/logout"><span><b>Sign out</b></span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>


<div class="main">
<div class="contain">
<div class="sign-up-content">
<form action="/todos" method="post">
  <h2 class="form-title">ADD A NEW ASSIGNMENT</h2>

  <div class="form-textbox">
    <label for="assignment_field">Assignment: </label>
    <input type="text" name="todo[name]" id="assignment_field"><br>
  </div>

  <div class="form-textbox">
    <label for="category_field">Category: </label>
    <input type="text" name="todo[category]" id="category_field"><br>
  </div>

  <div class="form-textbox">
    <label for="deadline_field">Deadline_field: </label>
    <input type="text" name="todo[deadline]" id="deadline_field"><br>
  </div>

    <textarea placeholder="Description: " name="todo[description]" rows="5" cols="40"></textarea>

  <div class="form-textbox">
  <select name="courses">
    <%@user.courses.uniq.each do |course|%>
    <option value="<%=course.id%>"> <%=course.name%></option>
    <% end %>
  </select><br>
  </div>

  <div class="form-textbox">
  <input type="submit" value="Add assignment" class="submit">
  </div>
</form>
</div>
</div>
</div>
