<h1>Add a new assignment</h1>
<form action="/todos" method="post">

  <label for="name_field">Course: </label>
  <input type="text" name="name" id="name_field"><br>

  <label for="type_field">Professor: </label>
  <input type="text" name="professor" id="type_field"><br>

  <label for="deadline_field">Professor: </label>
  <input type="text" name="deadline" id="deadline_field"><br>

  <input type="submit" value="Add assignment">
</form>
