<nav class="fh5co-nav" role="navigation">

  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-1">
          <div id="fh5co-logo"><a href="/">Learn<span>.</span></a></div>
        </div>
        <div class="col-xs-11 text-right menu-1">
          <ul>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/courses">Courses</a></li>
            <li class="active"><a href="/todos">Assignments</a></li>
            <li class="btn-cta"><a href="/courses/new"><span>Add a new course</span></a></li>
            <li class="btn-cta"><a href="/todos/new"><span>Add new assignment</span></a></li>
            <li class="btn-cta"><a href="/login"><span><%=@user.name%></span></a></li>
            <li class="btn-cta"><a href="/logout"><span>Sign out</span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>
<h1 class="log">Todos</h1>

<div class="row">
  <%@todos.each do |todo|%>
      <%if todo.name%>
            <div class="col-sm-4 " >
                <div class="price-box">
                    <h3><b>Assignment: </b><%=todo.name%></h3>
                    <h3><b>Category: </b><%=todo.category%></h3>
                    <h3><b>Deadline: </b><%=todo.deadline%></h3>

                </div>
            </div>
      <%end%>
  <%end%>

        </div>
