<h1>Todos</h1>
<ul>
  <%@todos.each do |todo|%>
    <%if todo.name%>
    <a href=#><li><%=todo.name%></li></a>
    <%else%>
    <h3>You have no assignments for this course yet</h3>
    <%end%>
  <%end%>
</ul>
<a href="/logout">Log out</a>
