	<nav class="fh5co-nav" role="navigation">

		<div class="top-menu">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="/"><img src="/images/logo.png" alt="Road to Graduation"></a></div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li class="btn-cta"><a href="/"><span><b>HOME</b></span></a></li>
							<li class="btn-cta"><a href="/courses"><span><b>Courses</b></span></a></li>
              <li class="btn-cta"><a href="/courses/new"><span><b>Add a new course</b></span></a></li>
              <li class="btn-cta"><a href="/todos/new"><span><b>Add new assignment</b></span></a></li>
							<li class="btn-cta"><a href="/login"><span><b><%=@user.name%></b></span></a></li>
							<li class="btn-cta"><a href="/logout"><span><b>Sign out</b></span></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>
<div class="main">
<h1 class="add-course">New course</h1>
<div class="contain">
  <div class="sign-up-content">
<form action="/courses" method="post">
<h2 class="form-title">ADD A NEW COURSE</h2>
<div class="form-textbox">
  <label for="course_field">Course: </label>
  <input type="text" name="name" id="course_field"><br>
</div>
<div class="form-textbox">
  <label for="professor_field">Professor: </label>
  <input type="text" name="professor" id="professor_field"><br>
</div>
<div class="form-textbox">
  <input type="submit" value="Add course" class="submit">
</div>
</form>
</div>
</div>
</div>
