<h1>Add a new course</h1>
<form action="/courses" method="post">

  <label for="course_field">Course: </label>
  <input type="text" name="name" id="course_field"><br>

  <label for="professor_field">Professor: </label>
  <input type="text" name="professor" id="professor_field"><br>

  <input type="submit" value="Add course">
</form>
