
<div id="page">
	<nav class="fh5co-nav" role="navigation">

		<div class="top-menu">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="/"><img src="/images/logo.png" alt="Road to Graduation"></a></div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li class="btn-cta"><a href="/"><span><b>HOME</b></span></a></li>
							<li class="btn-cta"><a href="/courses"><span><b>Courses</b></span></a></li>
							<li class="btn-cta"><a href="/login"><span><b>Login</b></span></a></li>
							<li class="btn-cta"><a href="/signup"><span><b>Sign up</b></span></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1 class="log">Road to Graduation</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
  </div>
