<!doctype html>
<html>
  <head>
    <title>Road to Graduation</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/styless.css">

  </head>
  <body>

      <%= yield %>

  </body>
</html>
